*
/api/include/ vasily.aristarkhov@intel.com dmitry.gurulev@intel.com miroslav.goncharenko@intel.com evgeniy.starov@intel.com dmitry.ermilov@intel.com
/api/vpl/     vasily.aristarkhov@intel.com dmitry.gurulev@intel.com miroslav.goncharenko@intel.com evgeniy.starov@intel.com dmitry.ermilov@intel.com

/api/mfx_loader_dll/  maxim.maximov@intel.com nikita.pletnev@intel.com
/api/mfx_dispatch/    maxim.maximov@intel.com nikita.pletnev@intel.com oleg.nabiullin@intel.com
/api/mediasdk_tracer  maxim.maximov@intel.com nikita.pletnev@intel.com

CODEOWNERS  oleg.nabiullin@intel.com dmitry.ermilov@intel.com eugene.ponomarev@intel.com

# Quick Build buildplans and scripts
/config/** oleg.nabiullin@intel.com dmitry.ermilov@intel.com eugene.ponomarev@intel.com

# core & plugin:
/_studio/mfx_lib/shared/**              dmitry.gurulev@intel.com miroslav.goncharenko@intel.com evgeniy.starov@intel.com dmitry.ermilov@intel.com
/_studio/shared/**                      dmitry.gurulev@intel.com miroslav.goncharenko@intel.com evgeniy.starov@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/core/**             dmitry.gurulev@intel.com miroslav.goncharenko@intel.com evgeniy.starov@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/io/**               dmitry.gurulev@intel.com miroslav.goncharenko@intel.com evgeniy.starov@intel.com dmitry.ermilov@intel.com
/_studio/mfx_lib/cmrt_cross_platform/** dmitry.gurulev@intel.com miroslav.goncharenko@intel.com evgeniy.starov@intel.com dmitry.ermilov@intel.com
/_studio/mfx_lib/scheduler/**           dmitry.gurulev@intel.com miroslav.goncharenko@intel.com evgeniy.starov@intel.com dmitry.ermilov@intel.com

# mfx_player & mfx_transcoder
/_testsuite/mfx_player/**               anton.grishin@intel.com sofya.balandina@intel.com wade.yuan@intel.com shanshan1.wang@intel.com
/_testsuite/mfx_transcoder/**           anton.grishin@intel.com sofya.balandina@intel.com
/_testsuite/test_vpp/**                 anton.grishin@intel.com sofya.balandina@intel.com
/_testsuite/test_thread_safety/**       anton.grishin@intel.com sofya.balandina@intel.com
/_testsuite/test_usage_models/**        anton.grishin@intel.com sofya.balandina@intel.com
/_testsuite/test_vpp_multisession/**    anton.grishin@intel.com sofya.balandina@intel.com
/_studio/shared/umc/codec/h264_spl/**   anton.grishin@intel.com sofya.balandina@intel.com wade.yuan@intel.com shanshan1.wang@intel.com
/_studio/shared/umc/codec/vc1_spl/**    anton.grishin@intel.com sofya.balandina@intel.com wade.yuan@intel.com shanshan1.wang@intel.com
/_studio/shared/umc/codec/asf_spl/**    anton.grishin@intel.com sofya.balandina@intel.com wade.yuan@intel.com shanshan1.wang@intel.com
/_studio/shared/umc/codec/avi_spl/**    anton.grishin@intel.com sofya.balandina@intel.com wade.yuan@intel.com shanshan1.wang@intel.com
/_studio/shared/umc/codec/demuxer/**    anton.grishin@intel.com sofya.balandina@intel.com wade.yuan@intel.com shanshan1.wang@intel.com
/_studio/shared/umc/codec/mpeg4_spl/**  anton.grishin@intel.com sofya.balandina@intel.com wade.yuan@intel.com shanshan1.wang@intel.com
/_studio/shared/umc/codec/spl_common/** anton.grishin@intel.com sofya.balandina@intel.com wade.yuan@intel.com shanshan1.wang@intel.com

# decode scrum
/_studio/mfx_lib/dec/**                             will.guo@intel.com yan.wang@intel.com
/_studio/mfx_lib/decode/**                          will.guo@intel.com yan.wang@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com
/_studio/shared/umc/codec/h264_dec/**               will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/h265_dec/**               will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/mpeg2_dec/**              yuchen.wang@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/jpeg_common/**            yuchen.wang@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/jpeg_dec/**               yuchen.wang@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/vc1_common/**             yuchen.wang@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/vc1_dec/**                yuchen.wang@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/vp8_dec/**                yan.wang@intel.com will.guo@intel.com
/_studio/shared/umc/codec/vp9_dec/**                yan.wang@intel.com will.guo@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/avcd*     will.guo@intel.com yuchen.wang@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/mpeg2d*   yuchen.wang@intel.com yan.wang@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/vc1*      yuchen.wang@intel.com yan.wang@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/hevcd*    will.guo@intel.com yuchen.wang@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/vp8d*     yan.wang@intel.com will.guo@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/mjpegd*   yuchen.wang@intel.com yan.wang@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/jpegd*    yuchen.wang@intel.com yan.wang@intel.com
# av1d:
/_studio/mfx_lib/decode/av1/**                      yan.wang@intel.com will.guo@intel.com
/_studio/mfx_lib/shared/include/mfx_vpx_dec/**      yan.wang@intel.com will.guo@intel.com
/_studio/mfx_lib/shared/src/mfx_vpx_dec/**          yan.wang@intel.com will.guo@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com
/_studio/shared/umc/io/umc_va/include/umc_av1/**    yan.wang@intel.com will.guo@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/av1d/**   yan.wang@intel.com will.guo@intel.com

# AVC/legacy encode scrum
/_studio/mfx_lib/enc/**                             sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_studio/mfx_lib/pak/**                             sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_studio/mfx_lib/enc_hw/**                          sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_studio/mfx_lib/encode_hw/h264/**                  sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com timofei.a.kulakov@intel.com Olga.Golikova@intel.com
/_studio/mfx_lib/shared/src/mfx_h264*               sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com timofei.a.kulakov@intel.com Olga.Golikova@intel.com
/_studio/mfx_lib/shared/include/mfx_h264*           sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com timofei.a.kulakov@intel.com Olga.Golikova@intel.com
/_studio/mfx_lib/shared/src/mfx_mpeg2*              sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_studio/shared/umc/codec/h264_enc/**               sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_studio/shared/umc/codec/me/**                     sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_studio/shared/umc/codec/mpeg2_enc/**              sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/avce*     sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/mpeg2e*   sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/mjpege*   sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/jpege*    sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/vp8e*     sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com

# hevce:
/_studio/mfx_lib/encode_hw/hevc/**                  thomas.li@intel.com jeremy.shang@intel.com vitaliy.ilichev@intel.com leonid.a.kulakov@intel.com yuri.skuridin@intel.com timofei.a.kulakov@intel.com Olga.Golikova@intel.com
/_studio/encode_hw/**                               thomas.li@intel.com jeremy.shang@intel.com vitaliy.ilichev@intel.com leonid.a.kulakov@intel.com yuri.skuridin@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/hevce*    thomas.li@intel.com jeremy.shang@intel.com vitaliy.ilichev@intel.com leonid.a.kulakov@intel.com yuri.skuridin@intel.com

# av1e:
/_studio/mfx_lib/encode_hw/av1/**                  stanislav.efremov@intel.com maxim.xue@intel.com lightny.gong@intel.com rachel.cheng@intel.com jianhong.zhang@intel.com 
/_studio/mfx_lib/shared/include/feature_blocks/**  stanislav.efremov@intel.com maxim.xue@intel.com lightny.gong@intel.com rachel.cheng@intel.com jianhong.zhang@intel.com 
/tests/unit/suites/av1e/**                         stanislav.efremov@intel.com maxim.xue@intel.com lightny.gong@intel.com rachel.cheng@intel.com jianhong.zhang@intel.com 

# hevce & av1e shared:
/_studio/mfx_lib/encode_hw/shared/**               thomas.li@intel.com jeremy.shang@intel.com vitaliy.ilichev@intel.com leonid.a.kulakov@intel.com yuri.skuridin@intel.com stanislav.efremov@intel.com maxim.xue@intel.com lightny.gong@intel.com rachel.cheng@intel.com jianhong.zhang@intel.com 

# vp9e:
/_studio/vp9e_hw/**                                anastasiia.sokolova@intel.com ekaterina.shiryaeva.alexandrovna@intel.com
/_studio/mfx_lib/encode_hw/vp9/**                  anastasiia.sokolova@intel.com ekaterina.shiryaeva.alexandrovna@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/vp9e*    anastasiia.sokolova@intel.com ekaterina.shiryaeva.alexandrovna@intel.com

# vpp:
/_studio/shared/asc/**                             furong.zhang@intel.com sebastian.possos@intel.com
/_studio/mfx_lib/vpp/**                            furong.zhang@intel.com
/_studio/shared/include/mfx_vpp*                   furong.zhang@intel.com
/_studio/shared/src/mfx_vpp*                       furong.zhang@intel.com
/_studio/mfx_lib/fs_det/**                         furong.zhang@intel.com
/_studio/mfx_lib/mctf_package/**                   furong.zhang@intel.com sebastian.possos@intel.com
/_studio/shared/umc/codec/color_space_converter/** furong.zhang@intel.com
/_studio/shared/umc/codec/scene_analyzer/**        furong.zhang@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/vpp*     furong.zhang@intel.com

# tests:
/_testsuite/msdk_ts/** 
/tests/** 

# mvce:
/_studio/mfx_lib/encode_hw/mvc/** 

# enctools:
/_studio/enctools/**                               timofei.a.kulakov@intel.com Olga.Golikova@intel.com sergey.plotnikov@intel.com
/_studio/shared/include/mfxenctools-int.h          timofei.a.kulakov@intel.com Olga.Golikova@intel.com sergey.plotnikov@intel.com

# lowpower lookahead:
/_studio/mfx_lib/lpla/**  timofei.a.kulakov@intel.com Olga.Golikova@intel.com sergey.plotnikov@intel.com

# samples:
/samples/**   sofya.balandina@intel.com anton.grishin@intel.com
/tutorials/** sofya.balandina@intel.com anton.grishin@intel.com

# hyper_encode:
/_studio/mfx_lib/encode_hw/hyper_encode/**     andrey.orlov@intel.com natalia.domnina@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com 
/_testsuite/msdk_ts/src/gmock/test_suites/le_* andrey.orlov@intel.com natalia.domnina@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com 
