*    oleg.nabiullin@intel.com dmitry.ermilov@intel.com
/api/ oleg.nabiullin@intel.com dmitry.ermilov@intel.com alexei.leonenko@intel.com evgeniy.starov@intel.com dmitry.v.rogozhkin@intel.com vasily.aristarkhov@intel.com

CODEOWNERS  oleg.nabiullin@intel.com dmitry.ermilov@intel.com eugene.ponomarev@intel.com

# Quick Build buildplans and scripts
/config/** oleg.nabiullin@intel.com dmitry.ermilov@intel.com eugene.ponomarev@intel.com alla.ukhina@intel.com

# camera plugin:
/_studio/camera_pipe/** alexander.smirnov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/camera/** alexander.smirnov@intel.com

# screen_capture:
/_studio/screen_capture/** alexander.smirnov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/screen_capture/** alexander.smirnov@intel.com

# ptir
/_studio/ptir/** alexander.smirnov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/ptir/** alexander.smirnov@intel.com

# mfx_player & mfx_transcoder
/_testsuite/mfx_player/** roman.kopytin@intel.com anton.grishin@intel.com sofya.balandina@intel.com betty.qin@intel.com wade.yuan@intel.com
/_testsuite/mfx_transcoder/** roman.kopytin@intel.com anton.grishin@intel.com sofya.balandina@intel.com betty.qin@intel.com wade.yuan@intel.com
/_studio/shared/umc/codec/h264_spl/** roman.kopytin@intel.com anton.grishin@intel.com sofya.balandina@intel.com betty.qin@intel.com wade.yuan@intel.com
/_studio/shared/umc/codec/vc1_spl/** roman.kopytin@intel.com anton.grishin@intel.com sofya.balandina@intel.com betty.qin@intel.com wade.yuan@intel.com
/_studio/shared/umc/codec/asf_spl/** roman.kopytin@intel.com anton.grishin@intel.com sofya.balandina@intel.com betty.qin@intel.com wade.yuan@intel.com
/_studio/shared/umc/codec/avi_spl/** roman.kopytin@intel.com anton.grishin@intel.com sofya.balandina@intel.com betty.qin@intel.com wade.yuan@intel.com
/_studio/shared/umc/codec/demuxer/** roman.kopytin@intel.com anton.grishin@intel.com sofya.balandina@intel.com betty.qin@intel.com wade.yuan@intel.com
/_studio/shared/umc/codec/mpeg4_spl/** roman.kopytin@intel.com anton.grishin@intel.com sofya.balandina@intel.com betty.qin@intel.com wade.yuan@intel.com
/_studio/shared/umc/codec/spl_common/** roman.kopytin@intel.com anton.grishin@intel.com sofya.balandina@intel.com betty.qin@intel.com wade.yuan@intel.com

# decode scrum
/_studio/mfx_lib/dec/** will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com
/_studio/mfx_lib/decode/**  will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/codec/av1_dec/**  will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/codec/h264_dec/**  will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/codec/jpeg_common/**  will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/codec/jpeg_dec/**  will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/codec/vc1_common/**  will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/codec/vc1_dec/**  will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/codec/vp8_dec/**  will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/avcd/**  will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/mpeg2d/**  will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/vc1/**  will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/hevcd/**  will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/vp8d/**  will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/mjpegd/**  will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/jpegd/**  will.guo@intel.com gavin.shen@intel.com yan.wang@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com

# AVC/legacy encode scrum
/_studio/mfx_lib/enc/** georgy.krivoruchko@intel.com olga.a.kasatkina@intel.com andrey.larionov@intel.com stanislav.efremov@intel.com alexei.leonenko@intel.com dmitry.ermilov@intel.com denis.volkov@intel.com 
/_studio/mfx_lib/pak/**  georgy.krivoruchko@intel.com olga.a.kasatkina@intel.com andrey.larionov@intel.com stanislav.efremov@intel.com alexei.leonenko@intel.com dmitry.ermilov@intel.com denis.volkov@intel.com
/_studio/mfx_lib/enc_hw/**  georgy.krivoruchko@intel.com olga.a.kasatkina@intel.com andrey.larionov@intel.com stanislav.efremov@intel.com alexei.leonenko@intel.com dmitry.ermilov@intel.com denis.volkov@intel.com
/_studio/mfx_lib/encode_hw/**  georgy.krivoruchko@intel.com olga.a.kasatkina@intel.com andrey.larionov@intel.com stanislav.efremov@intel.com alexei.leonenko@intel.com dmitry.ermilov@intel.com denis.volkov@intel.com
/_studio/mfx_lib/encode/**  georgy.krivoruchko@intel.com olga.a.kasatkina@intel.com andrey.larionov@intel.com stanislav.efremov@intel.com alexei.leonenko@intel.com dmitry.ermilov@intel.com denis.volkov@intel.com
/_studio/shared/umc/codec/h264_enc/**  georgy.krivoruchko@intel.com olga.a.kasatkina@intel.com andrey.larionov@intel.com stanislav.efremov@intel.com alexei.leonenko@intel.com dmitry.ermilov@intel.com denis.volkov@intel.com
/_studio/shared/umc/codec/me/**  georgy.krivoruchko@intel.com olga.a.kasatkina@intel.com andrey.larionov@intel.com stanislav.efremov@intel.com alexei.leonenko@intel.com dmitry.ermilov@intel.com denis.volkov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/avce/**  georgy.krivoruchko@intel.com olga.a.kasatkina@intel.com andrey.larionov@intel.com stanislav.efremov@intel.com alexei.leonenko@intel.com dmitry.ermilov@intel.com denis.volkov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/mpeg2e/**  georgy.krivoruchko@intel.com olga.a.kasatkina@intel.com andrey.larionov@intel.com stanislav.efremov@intel.com alexei.leonenko@intel.com dmitry.ermilov@intel.com denis.volkov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/mjpege/**  georgy.krivoruchko@intel.com olga.a.kasatkina@intel.com andrey.larionov@intel.com stanislav.efremov@intel.com alexei.leonenko@intel.com dmitry.ermilov@intel.com denis.volkov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/jpege/**  georgy.krivoruchko@intel.com olga.a.kasatkina@intel.com andrey.larionov@intel.com stanislav.efremov@intel.com alexei.leonenko@intel.com dmitry.ermilov@intel.com denis.volkov@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/vp8e/**   georgy.krivoruchko@intel.com olga.a.kasatkina@intel.com andrey.larionov@intel.com stanislav.efremov@intel.com alexei.leonenko@intel.com dmitry.ermilov@intel.com denis.volkov@intel.com
/_studio/shared/umc/codec/mpeg2_enc/**  georgy.krivoruchko@intel.com olga.a.kasatkina@intel.com andrey.larionov@intel.com stanislav.efremov@intel.com alexei.leonenko@intel.com dmitry.ermilov@intel.com denis.volkov@intel.com


# encode_hw-shared:
/_studio/mfx_lib/encode_hw/shared/** sergey.a.osipov@intel.com stanislav.efremov@intel.com

# hevce:
/_studio/hevce_hw/**  sergey.a.osipov@intel.com leonid.a.kulakov@intel.com vitaliy.ilichev@intel.com aleksandr.elizarov@intel.com yuri.skuridin@intel.com timofei.a.kulakov@intel.com olga.golikova@intel.com
/_studio/mfx_lib/encode_hw/h265/**  sergey.a.osipov@intel.com leonid.a.kulakov@intel.com vitaliy.ilichev@intel.com aleksandr.elizarov@intel.com yuri.skuridin@intel.com timofei.a.kulakov@intel.com olga.golikova@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/hevce/**  sergey.a.osipov@intel.com leonid.a.kulakov@intel.com vitaliy.ilichev@intel.com aleksandr.elizarov@intel.com yuri.skuridin@intel.com timofei.a.kulakov@intel.com olga.golikova@intel.com
/_studio/mfx_lib/encode_hw/hevc/**  sergey.a.osipov@intel.com leonid.a.kulakov@intel.com vitaliy.ilichev@intel.com aleksandr.elizarov@intel.com yuri.skuridin@intel.com timofei.a.kulakov@intel.com olga.golikova@intel.com

# vp9e:
/_studio/vp9e_hw/** alexei.leonenko@intel.com stanislav.efremov@intel.com dmitryx.malishev@intel.com anastasiia.sokolova@intel.com ekaterina.shiryaeva.alexandrovna@intel.com
/_studio/mfx_lib/encode_hw/vp9/** alexei.leonenko@intel.com stanislav.efremov@intel.com dmitryx.malishev@intel.com anastasiia.sokolova@intel.com ekaterina.shiryaeva.alexandrovna@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/vp9e/** alexei.leonenko@intel.com stanislav.efremov@intel.com dmitryx.malishev@intel.com anastasiia.sokolova@intel.com ekaterina.shiryaeva.alexandrovna@intel.com

# av1d:
/_studio/mfx_lib/decode/av1/** ilya.sergeev@intel.com alexander.smirnov@intel.com will.guo@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com gavin.shen@intel.com yan.wang@intel.com chunjuan.liu@intel.com
/_studio/mfx_lib/shared/include/mfx_vpx_dec/** ilya.sergeev@intel.com alexander.smirnov@intel.com will.guo@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com gavin.shen@intel.com yan.wang@intel.com chunjuan.liu@intel.com
/_studio/mfx_lib/shared/src/mfx_vpx_dec/** ilya.sergeev@intel.com alexander.smirnov@intel.com will.guo@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com gavin.shen@intel.com yan.wang@intel.com chunjuan.liu@intel.com
/_studio/shared/umc/codec/av1_dec/** ilya.sergeev@intel.com alexander.smirnov@intel.com will.guo@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com gavin.shen@intel.com yan.wang@intel.com chunjuan.liu@intel.com
/_studio/shared/umc/io/umc_va/include/umc_av1/** ilya.sergeev@intel.com alexander.smirnov@intel.com will.guo@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com gavin.shen@intel.com yan.wang@intel.com chunjuan.liu@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/av1d/** ilya.sergeev@intel.com alexander.smirnov@intel.com will.guo@intel.com dmitry.gurulev@intel.com dmitry.ermilov@intel.com gavin.shen@intel.com yan.wang@intel.com chunjuan.liu@intel.com

# av1e:
/_studio/mfx_lib/encode_hw/av1/** stanislav.efremov@intel.com maxim.xue@intel.com lightny.gong@intel.com rachel.cheng@intel.com jianhong.zhang@intel.com 
/_studio/mfx_lib/shared/include/feature_blocks/** stanislav.efremov@intel.com maxim.xue@intel.com lightny.gong@intel.com rachel.cheng@intel.com jianhong.zhang@intel.com 
/tests/unit/suites/av1e/** stanislav.efremov@intel.com maxim.xue@intel.com lightny.gong@intel.com rachel.cheng@intel.com jianhong.zhang@intel.com 

# vpp:
/_studio/shared/asc/** andrey.larionov@intel.com furong.zhang@intel.com
/_studio/mfx_lib/vpp/** andrey.larionov@intel.com furong.zhang@intel.com
/_studio/mfx_lib/fs_det/** andrey.larionov@intel.com furong.zhang@intel.com
/_studio/mfx_lib/mctf_package/** andrey.larionov@intel.com furong.zhang@intel.com
/_studio/shared/umc/codec/color_space_converter/** andrey.larionov@intel.com furong.zhang@intel.com
/_studio/shared/umc/codec/scene_analyzer/** andrey.larionov@intel.com furong.zhang@intel.com
/_testsuite/msdk_ts/src/gmock/test_suites/vpp/** andrey.larionov@intel.com furong.zhang@intel.com

# tests:
/_testsuite/msdk_ts/** stanislav.efremov@intel.com sergey.a.osipov@intel.com alexander.smirnov@intel.com georgy.krivoruchko@intel.com ilya.sergeev@intel.com 
/tests/** stanislav.efremov@intel.com sergey.a.osipov@intel.com alexander.smirnov@intel.com georgy.krivoruchko@intel.com ilya.sergeev@intel.com 

# mvce:
/_studio/mfx_lib/encode_hw/mvc/** stanislav.efremov@intel.com

# avc_fei:
/_studio/mfx_lib/fei/** miroslav.goncharenko@intel.com dmitry.ermilov@intel.com oleg.nabiullin@intel.com leonid.a.kulakov@intel.com jerry.dong@intel.com 
/_testsuite/msdk_ts/src/gmock/test_suites/fei/** miroslav.goncharenko@intel.com dmitry.ermilov@intel.com oleg.nabiullin@intel.com leonid.a.kulakov@intel.com jerry.dong@intel.com 
/samples/sample_fei/** miroslav.goncharenko@intel.com dmitry.ermilov@intel.com oleg.nabiullin@intel.com leonid.a.kulakov@intel.com jerry.dong@intel.com 

# hevc_fei:
/_studio/hevc_fei/** miroslav.goncharenko@intel.com dmitry.ermilov@intel.com leonid.a.kulakov@intel.com alexandra.tyugina@intel.com 
/samples/sample_hevc_fei/** miroslav.goncharenko@intel.com dmitry.ermilov@intel.com leonid.a.kulakov@intel.com alexandra.tyugina@intel.com 
/_testsuite/msdk_ts/src/gmock/test_suites/hevc_fei/** miroslav.goncharenko@intel.com dmitry.ermilov@intel.com leonid.a.kulakov@intel.com alexandra.tyugina@intel.com 
/_testsuite/msdk_ts/src/gmock/test_suites/hevce_fei/** miroslav.goncharenko@intel.com dmitry.ermilov@intel.com leonid.a.kulakov@intel.com alexandra.tyugina@intel.com 

# enctools:
/_studio/enctools/** timofei.a.kulakov@intel.com olga.golikova@intel.com
/_studio/enctools/aenc/** sergey.plotnikov@intel.com

# audio:
/_studio/mfx_lib/audio_decode/** oleg.nabiullin@intel.com dmitry.ermilov@intel.com
/_studio/mfx_lib/audio_encode/** oleg.nabiullin@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/codec/mp3_common/** oleg.nabiullin@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/codec/mp3_dec/** oleg.nabiullin@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/codec/aac_common/** oleg.nabiullin@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/codec/aac_dec/** oleg.nabiullin@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/codec/aac_enc/** oleg.nabiullin@intel.com dmitry.ermilov@intel.com

# samples:
/samples/** maria.pushkina@intel.com georgy.krivoruchko@intel.com ilya.sergeev@intel.com oleg.nabiullin@intel.com dmitry.ermilov@intel.com dmitry.gurulev@intel.com
/tutorials/** maria.pushkina@intel.com georgy.krivoruchko@intel.com ilya.sergeev@intel.com oleg.nabiullin@intel.com dmitry.ermilov@intel.com dmitry.gurulev@intel.com

# core & plugin:
/_studio/mfx_lib/shared/** vasily.aristarkhov@intel.com oleg.nabiullin@intel.com dmitry.v.rogozhkin@intel.com dmitry.ermilov@intel.com sergey.a.osipov@intel.com dmitry.gurulev@intel.com
/_studio/shared/** vasily.aristarkhov@intel.com oleg.nabiullin@intel.com dmitry.v.rogozhkin@intel.com dmitry.ermilov@intel.com sergey.a.osipov@intel.com dmitry.gurulev@intel.com
/_studio/shared/umc/core/** vasily.aristarkhov@intel.com oleg.nabiullin@intel.com dmitry.v.rogozhkin@intel.com dmitry.ermilov@intel.com sergey.a.osipov@intel.com dmitry.gurulev@intel.com
/_studio/shared/umc/io/** vasily.aristarkhov@intel.com oleg.nabiullin@intel.com dmitry.v.rogozhkin@intel.com dmitry.ermilov@intel.com sergey.a.osipov@intel.com dmitry.gurulev@intel.com
/_studio/mfx_lib/cmrt_cross_platform/** vasily.aristarkhov@intel.com oleg.nabiullin@intel.com dmitry.v.rogozhkin@intel.com dmitry.ermilov@intel.com sergey.a.osipov@intel.com dmitry.gurulev@intel.com
/_studio/mfx_lib/scheduler/** vasily.aristarkhov@intel.com oleg.nabiullin@intel.com dmitry.v.rogozhkin@intel.com dmitry.ermilov@intel.com sergey.a.osipov@intel.com dmitry.gurulev@intel.com
/_studio/mfx_lib/plugin/**  vasily.aristarkhov@intel.com oleg.nabiullin@intel.com dmitry.v.rogozhkin@intel.com dmitry.ermilov@intel.com sergey.a.osipov@intel.com dmitry.gurulev@intel.com
